:root {
    --core-programming-color: #4caf50; // Green
    --web-development-frameworks-color: #2196f3; // Blue
    --data-management-analysis-color: #ff9800; // Orange
    --cloud-deployment-version-control-color: #f44336; // Red
  }





.skills-list-and-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    @media screen and (max-width: 768px) {
        gap: 1.5rem;
    }

    @media screen and (max-width: 480px) {
        gap: 1rem;
    }

}

.skill-category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    @media screen and (max-width: 768px) {
        gap: .5rem;   
    }

    .skill-category-item {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 1rem;
        border: 3px solid var(--icon-color);
        padding: .5rem 1.5rem;
        border-radius: 14px;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 768px) {
            font-size: .75rem;
        }

        @media screen and (max-width: 480px) {
            font-size: .65rem;
        }

        &.active {
            background-color: var(--icon-color);
            color: var(--primary-text-color);
        }
    }

}

.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    @media screen and (max-width: 768px) {
        gap: .5rem;   
    }

    .skill-item {
        display: flex;
        gap: .5rem;
        border: 3px solid var(--icon-color);
        padding: .5rem 1rem;
        border-radius: 14px;
        font-size: .9rem;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 768px) {
            font-size: .75rem;
        }

        @media screen and (max-width: 480px) {
            font-size: .65rem;
        }

        &.highlighted {
            background-color: var(--icon-color);
            color: var(--primary-text-color);
        }

        &:hover {
            background-color: var(--icon-color);
            color: var(--primary-text-color);
        }
    }
}


  
.skill-item {
    &.CoreProgramming {
        border-color: var(--core-programming-color);

        &.highlighted, &:hover {
            background-color: var(--core-programming-color);
            color: white;
        }
    }

    &.WebDevelopmentFrameworks {
        border-color: var(--web-development-frameworks-color);

        &.highlighted, &:hover {
            background-color: var(--web-development-frameworks-color);
            color: white;
        }
    }

    &.DataManagementAnalysis {
        border-color: var(--data-management-analysis-color);

        &.highlighted, &:hover {
            background-color: var(--data-management-analysis-color);
            color: white;
        }
    }

    &.CloudDeploymentVersionControl {
        border-color: var(--cloud-deployment-version-control-color);

        &.highlighted, &:hover {
            background-color: var(--cloud-deployment-version-control-color);
            color: white;
        }
    }
}
